@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-Thin.eot');
  src: url('../static/fonts/AmpleSoftPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-Thin.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-Thin.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-ExtraLight.eot');
  src: url('../static/fonts/AmpleSoftPro-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-ExtraLight.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-ExtraLight.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-Light.eot');
  src: url('../static/fonts/AmpleSoftPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-Light.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-Light.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-Regular.eot');
  src: url('../static/fonts/AmpleSoftPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-Regular.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-Regular.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-Medium.eot');
  src: url('../static/fonts/AmpleSoftPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-Medium.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-Medium.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AmpleSoftPro';
  src: url('../static/fonts/AmpleSoftPro-Bold.eot');
  src: url('../static/fonts/AmpleSoftPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../static/fonts/AmpleSoftPro-Bold.woff2') format('woff2'),
    url('../static/fonts/AmpleSoftPro-Bold.woff') format('woff'),
    url('../static/fonts/AmpleSoftPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'AmpleSoftPro' !important;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.277 0.107 264.564);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.544 0.153 155.227);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.277 0.107 264.564);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.277 0.107 264.564);
  --chart-1: oklch(0.277 0.107 264.564);
  --chart-2: oklch(0.544 0.153 155.227);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.277 0.107 264.564);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.277 0.107 264.564);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.277 0.107 264.564);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: white;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.544 0.153 155.227);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.185 0.075 264.564);
  --chart-1: oklch(0.277 0.107 264.564);
  --chart-2: oklch(0.544 0.153 155.227);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #0a0a0a;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.544 0.153 155.227);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.185 0.075 264.564);
  --tw-prose-links: white !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .dark .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: white;
    font-weight: 600;
    font-size: .875em;
  }

  .dark .prose :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: white;
    font-weight: 600;
  }

  .dark .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: white;
    text-decoration: underline;
    font-weight: 500;
  }

  .dark .data-\[state\=checked\]\:bg-primary[data-state="checked"] {
    background-color: #555;
  }
}
